<script>
	import "carbon-components-svelte/css/all.css";
	import router from "page";
	import {
		Content,
		Header,
		SkipToContent,
		Dropdown,
		HeaderUtilities,
	} from "carbon-components-svelte";
	import Home from "./Home.svelte";
	import List from "./List.svelte";
	let page;
	let params;
	router("/", () => (page = Home));
	router(
		"/:listid/",
		(ctx, next) => {
			console.log(ctx);
			params = ctx.params;
			next();
		},
		() => (page = List)
	);
	router.start();
</script>

<Header company="Shareable Shopping List" href="/">
	<div slot="skip-to-content">
		<SkipToContent />
	</div>
	<HeaderUtilities>
		<Dropdown type="inline"
			titleText="Theme"
			selectedIndex={0}
			items={[
				{ id: "g100", text: "Dark" },
				{ id: "white", text: "Light" },
			]}
			on:select={(evt) => {
				console.log(evt);
				document.documentElement.setAttribute("theme", evt.detail.selectedId);
			}}
		/>
	</HeaderUtilities>
</Header>
<Content>
	<svelte:component this={page} {params} />
</Content>
