<script>
    import { BASEAPIURL, BASEFRONTENDURL } from "./Constants";
    import { DataTable, Button, Toolbar } from "carbon-components-svelte";
    import CreateModal from "./components/CreateModal.svelte";
    import DeleteModal from "./components/DeleteModal.svelte";

    let deletelistmodal = false;
    let deleterow;

    let createlistmodal = false;
    let iscreateloading = false;

    let savedlists = JSON.parse(localStorage.getItem("svelteshoppinglists"));
    let lists = !!savedlists ? savedlists : [];

    async function createnewlist(name) {
        let key = await fetch(`${BASEAPIURL}/new/${name}`).then((res) =>
            res.text()
        );
        console.log(key);
        // lists.push({id: "xyz",  name: "delete", key: "xyz" }); This will not work due to how Svelte detects updates
        lists = [...lists, { id: new Date(), name, key }];
        localStorage.setItem("svelteshoppinglists", JSON.stringify(lists));
    }

    async function deletelist(id) {
        lists = lists.filter((obj) => {
            return obj.id !== id;
        });
        localStorage.setItem("svelteshoppinglists", JSON.stringify(lists));
    }
</script>

<CreateModal
    type="list"
    cbSubmit={(x) => createnewlist(x)}
    bind:modalopen={createlistmodal}
    bind:isloading={iscreateloading}
/>
<DeleteModal
    cbConfirm={(x) => deletelist(x)}
    bind:modalopen={deletelistmodal}
    bind:deleterow
/>
<DataTable
    headers={[
        { key: "name", value: "Name" },
        { key: "link", value: "Link to list" },
        { key: "open", value: "" },
        { key: "share", value: "" },
        { key: "delete", value: "" },
    ]}
    rows={lists}
>
    <Toolbar
        ><Button
            on:click={() => {
                createlistmodal = true;
            }}>Create list</Button
        ></Toolbar
    >

    <span slot="cell" let:cell let:row>
        {#if cell.key === "delete"}
            <Button
                kind="danger-tertiary"
                size="field"
                on:click={() => {
                    deleterow = row.id;
                    deletelistmodal = true;
                }}>Remove</Button
            >
        {:else if cell.key === "link"}
            <a id={row.id + "_link"} href={row.key}>{row.key}</a>
        {:else if cell.key === "share"}
            <Button
                kind="secondary"
                size="field"
                on:click={() => {
                    const el = document.createElement("textarea");
                    el.value = BASEFRONTENDURL + "/" + row.key;
                    document.body.appendChild(el);
                    el.select();
                    document.execCommand("copy");
                    document.body.removeChild(el);
                }}>Copy link to Clipboard</Button
            >
        {:else if cell.key === "open"}
            <Button kind="primary" size="field" href={row.key}>Open list</Button
            >
        {:else}{cell.value}{/if}
    </span>
</DataTable>
