<script>
    //receive params from router (list key)
    export let params;

    import {
        Grid,
        Row,
        Column,
        Tile,
        SkeletonText,
        SkeletonPlaceholder,
        Button,
    } from "carbon-components-svelte";
    import Add16 from "carbon-icons-svelte/lib/Add16";
    import CreateModal from "./components/CreateModal.svelte";
    import Item from "./components/Item.svelte";
    import { BASEAPIURL } from "./Constants";

    let createmodalopen = false;
    // Get List of saved lists to add shared list to localstorage
    let savedlists =
        JSON.parse(localStorage.getItem("svelteshoppinglists")) || [];
    let list = {};
    let isloading = true;
    fetch(`${BASEAPIURL}/${params.listid}`)
        .then((res) => res.json())
        .then((jsonres) => {
            list = jsonres;
            console.log(list);

            isloading = false;
            if (
                savedlists.filter((el) => el.key == params.listid).length != 1
            ) {
                savedlists = [...savedlists, {
                    id: new Date(),
                    name: list.name,
                    key: params.listid,
                }];
                localStorage.setItem(
                    "svelteshoppinglists",
                    JSON.stringify(savedlists)
                );
            }
        });

    let deleteItemFromList = (id) => {
        list.items = list.items.filter((x) => x.id != id);
        updateList();
    };

    let updateList = () => {
        console.log(list);
        fetch(`${BASEAPIURL}/${params.listid}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(list),
        });
    };
</script>

{#if isloading}
    <SkeletonText heading />
{:else}
    <h1>{list.name}</h1>
    <CreateModal
        type="item"
        bind:modalopen={createmodalopen}
        cbSubmit={(item) => {
            list.items = [...list.items, {
                id: new Date(),
                label: item,
                checked: false,
            }];
            updateList();
        }}
    />
{/if}

<Grid>
    {#if isloading}
        <Row>
            <Column>
                <SkeletonPlaceholder style="width: 100%; height: 100 rem" />
            </Column>
        </Row>
    {:else}
        <Row>
            <Column>
                <Button
                    iconDescription="Add an item"
                    icon={Add16}
                    on:click={() => (createmodalopen = true)}
                />
            </Column>
        </Row>

        <Row>
            <Column>
                {#each list.items as { id, label, checked }}
                    {#if !checked}
                        <Item
                            bind:id
                            bind:label
                            bind:checked
                            cbChange={() => updateList()}
                        />
                    {/if}
                {/each}
            </Column>
        </Row>
        {#if list.items.filter((el) => el.checked).length > 0}
            <Row>
                <Column>
                    <Tile light>
                        <h2>Checked Items</h2>
                    </Tile>
                </Column>
            </Row>
            <Row>
                <Column>
                    {#each list.items as { id, label, checked }}
                        {#if checked}
                            <Item
                                bind:id
                                bind:label
                                bind:checked
                                cbDelete={() => deleteItemFromList(id)}
                                cbChange={() => updateList()}
                            />
                        {/if}
                    {/each}
                </Column>
            </Row>
        {/if}
    {/if}
</Grid>
