<script>
    import { Loading, Modal, TextInput } from "carbon-components-svelte";

    export let modalopen, cbSubmit, isloading, type;

    let newi = "";
</script>

<Modal
    bind:open={modalopen}
    on:open
    on:close
    on:
    modalHeading={"Create a new " + type}
    hasForm={true}
    shouldSubmitOnEnter={true}
    primaryButtonText="Create"
    secondaryButtonText="Cancel"
    preventCloseOnClickOutside={true}
    on:click:button--secondary={() => {
        modalopen = false;
    }}
    on:submit={async () => {
        if (type == "list") {
            isloading = true;
            await cbSubmit(newi);
            newi = "";
            isloading = false;
            modalopen = false;
        } else {
            await cbSubmit(newi);
            newi = "";
            modalopen = false;
        }
    }}
>
    {#if isloading}
        <Loading />
    {/if}
    <TextInput
        labelText={type.charAt(0).toUpperCase() + type.slice(1) + " Name"}
        placeholder={"Enter " + type + " name..."}
        bind:value={newi}
    />
</Modal>
