<script>
import { Modal } from "carbon-components-svelte";


    export let cbConfirm, modalopen, deleterow
</script>

<Modal
    bind:open={modalopen}
    on:open
    on:close
    danger
    modalHeading="Delete list from your computer"
    primaryButtonText="Delete"
    secondaryButtonText="Cancel"
    preventCloseOnClickOutside={false}
    shouldSubmitOnEnter={false}
    on:click:button--secondary={() => {
        modalopen = false;
    }}
    on:submit={async () => {
        await cbConfirm(deleterow);
        modalopen = false;
    }}
> 
This will only remove the list from your view.
</Modal>