<script>
    import {
        Button,
        Checkbox,
        ClickableTile,
        Column,
        Grid,
        Row,
    } from "carbon-components-svelte";

    export let id, label, checked, cbDelete, cbChange;

</script>

<ClickableTile bind:light={checked} on:click={(evt) => {checked = !checked; cbChange()}}>
    <Grid>
        <Row>
            <Column>
                <Checkbox
                    labelText={(checked ? "\u{00A0}  " : "") +
                        label +
                        (checked ? "  \u{00A0}" : "")}
                    bind:checked
                    id={(checked ? "checked_" : "ccs_") +
                        id}
                />
            </Column>
            {#if checked}
                <Column>
                    <Button
                        kind="danger-tertiary"
                        size="field"
                        on:click={(evt) => {
                            evt.stopImmediatePropagation();
                            cbDelete();
                        }}>Remove</Button
                    >
                </Column>
            {/if}
        </Row>
    </Grid>
</ClickableTile>
